@model Snylta.Models.Thing

@{
    ViewData["Title"] = "Delete";
}

<h2>Ta bort pryl</h2>

<h3>Är du helt säker på att du vill ta bort din pryl från Snylta?</h3>
<div>
    @*<h4>Pryl</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-default" /> |
        <a asp-action="MyThings">Tillbaka till Mina prylar</a>
    </form>
</div>