
<br /><br />
<h3>Hur jag börjar Snylta!</h3>

<div>
    <div class="numberCircle">1</div>
    <span>Skapa ett konto eller logga in.</span>
</div>

<div>
    <div class="numberCircle">2</div>
    <span>Skapa en grupp eller gå med i grupper.</span>
</div>

<div>
    <div class="numberCircle">3</div>
    <span>Lägg upp dina prylar.</span>
</div>

<div>
    <div class="numberCircle">4</div>
    <span>Börja Snylta!</span>
</div>
