<h2>Hur jag börjar Snylta!</h2>
<div class="bulletList">
    <div class="numberCircle">1</div>
    <span>Skapa ett konto eller logga in.</span>
</div>

<div class="bulletList">
    <div class="numberCircle">2</div>
    <span>Skapa en grupp eller gå med i grupper.</span>
</div>

<div class="bulletList">
    <div class="numberCircle">3</div>
    <span>Lägg upp dina prylar.</span>
</div>

<div class="bulletList">
    <div class="numberCircle">4</div>
    <span>Börja Snylta!</span>
</div>
