@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
a {
    cursor: pointer;
}



.Snyltad {
    opacity: 0.7;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    /*background-color: red;*/
}

.modal-dialog-centered .modal-content {
    width: 100%;
}

.bulletList > span{
    font-size: 1.2rem;
}

.card {
    margin: 30px;
    width: 18rem;
    /*height: 24rem;*/
    /*border-radius: 6.25rem;*/
    text-align: center;
}

.numberCircle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 8px;
    background: #ff8b70;
    border: 5px solid #3db289;
    color: white;
    text-align: center;
    font: 36px Arial, sans-serif;
    display:inline-block;
    margin-top: 40px;
    margin-right: 20px;
}

ul {
    /*list-style-type: none;*/
}


body {
    margin-top: 4rem;
    /*font-family: 'Noto Sans TC', sans-serif;
    font-weight: thin;*/
}

/*h1, h2, h3 {
    padding-top: 2rem;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: thin;
}

h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: thin;
}*/


/*style="width: 256px; height: 24rem;"*/

/*.cc_image.fallback { /* this URL here is theoretically a local one (always reachable) */
/*background-image: url('../fallback.png');*/
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/
/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/
/* QR code generator */
/*#qrCode {
    margin: 15px;
}*/
/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {
    /* Hide captions */
/*.carousel-caption {
        display: none;
    }
}*/

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
