@model Thing
@inject AppSettings AppSettings

<div class="card d-inline-block" aria-disabled="true" style="width: 18rem; height: 24rem;">

    <div class="card-img-top">

        @if (Model.ThingPics.Count() == 0)
        {
            <div class="carousel-item active">
                <img class="d-block w-100 rounded-top" src="~/images/fallback.jpg" width="200" height="200" />
            </div>
        }
        else
        {
            <img class="d-block w-100 rounded-top" src="~/thingimages/@Model.ThingPics[0].Pic.Insert(Model.ThingPics[0].Pic.Length - 4, "_thumb")" />
        }
    </div>

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        @foreach (var tag in Model.ThingTags.Where(tt => tt.Confidence > AppSettings.Confidence).OrderByDescending(tt => tt.Confidence))
        {
            <span class="badge badge-danger">@tag.Tag.SwedishTag:@tag.Confidence.ToString("0.##")</span>
        }
    </div>
</div>

