@model Thing

    <div class="card d-inline-block" aria-disabled="true" style="width: 18rem; height: 24rem;">
        <img src="~/thingimages/@Model.ThingPic" class="card-img-top" width="200"> @*alt="..."*@
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Id</p>
        </div>
    </div>