@model Thing

<div class="card d-inline-block rounded-" aria-disabled="true" >
    @if (Model.ThingPic != null)
    {
        <img class="cardPic rounded-top" src="~/thingimages/@Model.ThingPic" >
    }
    else
    {
        <img class="cardPic rounded-top"  src="~/images/fallback.jpg" />
    }
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Id</p>
    </div>
</div>